@use "sass:list";
@use "sass:math";


$background-color: #2183c4b4;
$background-color-container: #dadbe3;
$font-header-color: rgb(240, 152, 9);
$font-details-color: #f79b06;
$table-colors: white, red, blue, green, grey, yellow, pink;
$title_font: 30px, 25px, 20px, 18px, 16px, 14px;
$blanco: false;

@function CalcularAnchura($anchoDisponible, $columnas) {
    @return math.div($anchoDisponible,$columnas);
}

body {
    background-color: $background-color;
    width: 100%;
    .container {
        background-color: $background-color-container;
        border: 2px solid blue;
        @if  $blanco == false {
            background-color: black;
            color: white
        }@else{
            background-color: white;
            color: black;
        }
        .header {
            color: $font-header-color;
            text-align: center;
            border-bottom: 2px solid black;
            font-weight: bold;
        }
        .details { 
            margin-top: 3%;
            margin-left: 3%;
            text-align: justify;
            width: CalcularAnchura(100%, 2);
            .section {
                .skills__item {
                    margin-left: 2%;
                    font-weight: bold;
                }
                .section__title {
                    color: $font-details-color;
                    font-size: 20px;
                    border-bottom: 1px solid black;
                }
                .section__list {
                    margin-left: 2%;
                    .section__list-item {
                        .left {
                            .name {
                                    font-weight: bold;
                            }
                        }
                        .right {
                            .name {
                                    font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }  
    table { 
        @for $i from 1 through 7 {
            tr:nth-child(#{$i}) {
                background-color: list.nth($table-colors,$i);
            }
        }
    }
        @for $i from 1 through 6 {
            h#{$i} {
                font-size: list.nth($title_font,$i);
            }
        }
}
