$background-color: #2183c4b4;
$background-color-container: #dadbe3;
$font-header-color: rgb(240, 152, 9);
$font-details-color: #f79b06;
$table-colors: white, red, blue, green, grey, yellow, pink;
$title_font: 30px, 25px, 20px, 18px, 16px, 14px;
$blanco: false;